<a target="_blank" href={% url 'payment' world='low' %}> совершить платеж на лоу</a>
<br>
<a target="_blank" href={% url 'payment' world='ass' %}>Жмяк платеж на асс</a>
<br>
<a target="_blank" href={% url 'payment' world='mid' %}>Жмяк платеж на мид</a>
<br>
<hr>
<a target="_blank" href={% url 'recurrent_payment' world='low' %}> совершить следующий рекуррентный платеж на лоу</a>
<br>
<a target="_blank" href={% url 'recurrent_payment' world='ass' %}>Жмяк следующий рекуррентный платеж на асс</a>
<br>
<a target="_blank" href={% url 'recurrent_payment' world='mid' %}>Жмяк следующий рекуррентный платеж на мид</a>
<br>
<a target="_blank" href={% url 'recurrent_payment' world='prod' %}>Жмяк следующий рекуррентный платеж на прод</a>
<br>
<hr>
<a target="_blank" href={% url 'create_bill' world='low' %}>post: создать счет на лоу</a>
<br>
<a target="_blank" href={% url 'create_bill' world='ass' %}>Жмяк счет на асс</a>
<br>
<a target="_blank" href={% url 'create_bill' world='mid' %}>Жмяк счет на мид</a>
<br>
<hr>
<a target="_blank" href={% url 'active_bill' world='mid' %}>put: проставить active счет</a>
<br>
<a target="_blank" href={% url 'get_bill' world='low' %}>get: получить информацию по счету и транзакциям</a>
<br>
<a target="_blank" href={% url 'get_transactions' world='mid' %}>получить информацию по транзакциям mid</a>
<br>
<a target="_blank" href={% url 'get_transactions' world='ass' %}>получить информацию по транзакциям ass</a>
<br>
<a target="_blank" href={% url 'get_transactions' world='low' %}>получить информацию по транзакциям low</a>
<hr>
<a target="_blank" href={% url 'refund' world='low' %}> рефанд на лоу</a>
<br>
<a target="_blank" href={% url 'refund' world='ass' %}> рефанд на асс</a>
<br>
<a target="_blank" href={% url 'refund' world='mid' %}> рефанд на мид</a>
<br>
<hr>
<a target="_blank" href={% url 'get_transaction' world='low' %}> статус транзакции на лоу</a>
<br>
<a target="_blank" href={% url 'get_transaction' world='ass' %}> статус транзакции на асс</a>
<br>
<a target="_blank" href={% url 'get_transaction' world='mid' %}> статус транзакции на мид</a>
<br>
<hr>
<a target="_blank" href={% url 'confirm' world='low' %}> Конфирм холда на лоу</a>
<br>
<a target="_blank" href={% url 'confirm' world='ass' %}> Конфирм холда на асс</a>
<br>
<a target="_blank" href={% url 'confirm' world='mid' %}> Конфирм холда на мид</a>
<br>
<hr>
<a target="_blank" href={% url 'extended_manual_bill' world='low' %}>Жмяк расширенный счет на лоу</a>
<br>
<a target="_blank" href={% url 'extended_manual_bill' world='ass' %}>Жмяк расширенный счет на ассе</a>
<br>
<a target="_blank" href={% url 'extended_manual_bill' world='mid' %}>Жмяк расширенный счет на миде</a>
<br>
<hr>
<a target="_blank" href={% url 'change_subscription' world='low' %}>Жмяк поменять рекуррент на лоу</a>
<br>
<a target="_blank" href={% url 'change_subscription' world='ass' %}>Жмяк поменять рекуррент на ассе</a>
<br>
<a target="_blank" href={% url 'change_subscription' world='mid' %}>Жмяк поменять рекуррент на миде</a>
<br>
<hr>

<a target="_blank" href={% url 'cancel_subscription' world='low' %}>Жмяк отменить рекуррент на лоу</a>
<br>
<a target="_blank" href={% url 'cancel_subscription' world='ass' %}>Жмяк отменить рекуррент на ассе</a>
<br>
<a target="_blank" href={% url 'cancel_subscription' world='mid' %}>Жмяк отменить рекуррент на миде</a>
<br>
<hr>
<a href={% url 'internal' %}>Внутреннее апи</a>
