<a target="_blank" href={% url 'pan_payment' world='low' %}>Жмяк платеж без формы на лоу</a>
<br>
<a target="_blank" href={% url 'pan_payment' world='ass' %}>Жмяк платеж без формы на ass</a>
<br>
<a target="_blank" href={% url 'pan_payment' world='mid' %}>Жмяк платеж без формы на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'payout' world='low' %}>Жмяк выплату на лоу</a>
<br>
<a target="_blank" href={% url 'payout' world='ass' %}>Жмяк выплату на ass</a>
<br>
<a target="_blank" href={% url 'payout' world='mid' %}>Жмяк выплату на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'first_recur' world='low' %}>Жмяк первый рекуррент на лоу</a>
<br>
<a target="_blank" href={% url 'first_recur' world='ass' %}>Жмяк первый рекуррент на ass</a>
<br>
<a target="_blank" href={% url 'first_recur' world='mid' %}>Жмяк первый рекуррент на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'internal_next_recur' world='low' %}>Жмяк некст рекуррент на лоу</a>
<br>
<a target="_blank" href={% url 'internal_next_recur' world='ass' %}>Жмяк некст рекуррент на ass</a>
<br>
<a target="_blank" href={% url 'internal_next_recur' world='mid' %}>Жмяк некст рекуррент на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'inpreauth' world='low' %}>Жмяк холд на лоу</a>
<br>
<a target="_blank" href={% url 'inpreauth' world='ass' %}>Жмяк холд на ass</a>
<br>
<a target="_blank" href={% url 'inpreauth' world='mid' %}>Жмяк холд на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'inconfirm' world='low' %}>Жмяк холд конфирм на лоу</a>
<br>
<a target="_blank" href={% url 'inconfirm' world='ass' %}>Жмяк холд конфирм на ass</a>
<br>
<a target="_blank" href={% url 'inconfirm' world='mid' %}>Жмяк холд конфирм на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'inrefund' world='low' %}>Жмяк возврат на лоу</a>
<br>
<a target="_blank" href={% url 'inrefund' world='ass' %}>Жмяк возврат на ass</a>
<br>
<a target="_blank" href={% url 'inrefund' world='mid' %}>Жмяк возврат на mid</a>
<br>
<hr>
<a target="_blank" href={% url 'prrefund' world='low' %}>Жмяк холд рефанд на лоу</a>
<br>
<a target="_blank" href={% url 'prrefund' world='ass' %}>Жмяк холд рефанд на ass</a>
<br>
<a target="_blank" href={% url 'prrefund' world='mid' %}>Жмяк холд рефанд на mid</a>
<br>
<hr>
