<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action={{ action }}>
    {% for key, value in items.items %}
        <input type="hidden" name="{{ key }}", value="{{ value }}">
    {% endfor %}
    <input type="submit" value="Жмяк">
</form>