<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% if not debug %}
        <script type="text/javascript" charset="utf-8">
            window.onload = function () {
                document.forms[0].submit();
            };
        </script>
    {% endif %}
</head>
<body>
    <form action="{{ action }}" method="{{ request_method|default:'post' }}">
        {% if not debug %}
            {% for name, value in values.items %}
                <input name="{{ name }}" value="{{ value }}" type="hidden">
            {% endfor %}
        {% else %}
            <table>
                {% for name, value in values.items %}
                    <tr>
                        <td>{{ name }}</td>
                        <td><input name="{{ name }}" value="{{ value }}" size="30"></td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit">
                Отправить запрос на {{ action }}
            </button>
        {% endif %}
    </form>
</body>
</html>
